body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
h1 {
    position: absolute;
    top: 12%; /* Vị trí từ trên xuống bằng 10% chiều cao của viewport */
    left: 50%; /* Căn giữa phần tử theo chiều ngang */
    transform: translateX(-50%); /* Dịch chuyển phần tử sang trái một nửa chiều rộng của nó để căn giữa chính xác */
    padding: 0.8vw 1.5vw; /* Padding thay đổi theo tỷ lệ chiều rộng màn hình */
    /*background: #ecc94b	; 
    box-shadow: 0 2px 5px rgba(160, 176, 255, 0.3);*/
    border-radius: 10px; /* border-m */
    display: inline-block;
}

/* input[type="text"] {
    padding: 5px;
    width:20vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền 
    position: absolute;
} */

button {
    cursor: pointer;
    padding: 0.46vh 0.52vw;
    border: none;
    background-color: #F8BBD0;
    color: black;
    border-radius: 5px;
    margin-top:1vh;
}

.form
{
    width: 28vw; 
    height: 51vh;  
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
    color: black; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px; 
    margin-top:22vh;
    margin-left:34.7vw;
    position: relative;
}


#Input_CCCD
{
    padding: 5px;
    width:20vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền */
    position: absolute;
    top: 5vh;
}

#Input_MaPhieuDangKy
{
    padding: 5px;
    width:20vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền */
    position: absolute;
    top: 11vh;
}

#Input_LyDoGiaHan
{
    padding: 5px;
    width:20vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền */
    position: absolute;
    top: 17vh;
}

#Input_LoaiGiaHan
{
    padding: 5px;
    width:6vw;
    border-radius: 10px;
    border: 2px solid gray; /* Viền */
    position: absolute;
    margin-right:13.5vw;
    
}

#Input_LoaiGiaHanLabel
{
    font-size:0.83vw;
    position:absolute;
}

#Input_NgayDuThiCu
{
    padding: 5px;
    width:6vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền */
    position: absolute;
    margin-top: 12vh;
    margin-left:-13.5vw;
}

#NgayDuThiCu_label
{
    margin-top: 20vh;
    margin-left:-13vw;
    font-size:0.83vw;
    position:absolute;
}

#Input_NgayDuThiMoi
{
    padding: 5px;
    width:6vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền */
    position: absolute;
    margin-top: 12vh;
    margin-left:14vw;
}

#NgayDuThiMoi_label
{
    margin-top: 20vh;
    margin-left:14vw;
    font-size:0.83vw;
    position:absolute;
}
#btn_XacNhan
{
    position: absolute;
    margin-top:36vh;
    margin-left:-15vw;
    background-color: #8860d0;
    color: white;
    font-weight: bold;
}

#btn_XacNhan:hover
{
    background-color: #a0b0ff;
}

#btn_InPhieu
{
    position: absolute;
    margin-top:36vh;
    margin-left:17vw;
    background-color: #8860d0;
    color: white;
    font-weight: bold;
}

#btn_InPhieu:hover
{
    background-color: #a0b0ff;
}

/* #btn_GuiPhieuDenKeToan
{
    position: absolute;
    margin-top:36vh;
    margin-left:14vw;
    background-color: #8860d0;
    color: white;
    font-weight: bold;
}

#btn_GuiPhieuDenKeToan:hover
{
    background-color: #a0b0ff;
} */

.btn_Tra_cuu_SLGH
{
    cursor: pointer;
    padding: 1vh 1vw;
    border: none;
    background-color: #8860d0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top:15vh;
    position:absolute;
    margin-left:18vw;
}

.btn_Tra_cuu_SLGH:hover
{
    background-color: #a0b0ff;
}

.btn_Tra_cuu_PGH
{
    cursor: pointer;
    padding: 1vh 1vw;
    border: none;
    background-color: #8860d0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top:15vh;
    margin-left:34vw;
    position:absolute;
}

.btn_Tra_cuu_PGH:hover
{
    background-color: #a0b0ff;
}

