body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
.box_TraCuu_text
{
    width: 21vw; /* Chiều rộng */
    height: 7vh;  /* Chiều cao */
    background-color: #FCE4EC; /* Màu nền xanh */
    color: black; /* Màu chữ */
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px; /* Bo góc */
    border: 2px solid #FCE4EC; /* Viền */
    font-size: 1.82vw;
    margin-top:10vh;
    margin-left:38vw
}

/* input[type="text"] {
    padding: 5px;
    width:20vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền 
    position: absolute;
} */

button {
    cursor: pointer;
    padding: 0.46vh 0.52vw;
    border: none;
    background-color: #E5EEFFFF;
    color: black;
    border-radius: 5px;
    margin-top:1vh;
}

.form
{
    width: 27vw; /* Chiều rộng */
    height: 50vh;  /* Chiều cao */
    background-color: #E5EEFFFF; /* Màu nền xanh */
    color: black; /* Màu chữ */
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px; /* Bo góc */
    border: 2px solid #E5EEFFFF; /* Viền */
    margin-top:3vh;
    margin-left:35vw;
    position: relative;
}
#Input_HoVaTen
{
    padding: 5px;
    width:20vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền*/   
    position: absolute;
    top: 5vh;
}

#Input_CCCD
{
    padding: 5px;
    width:20vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền */
    position: absolute;
    top: 11vh;
}

#Input_MaPhieuDangKy
{
    padding: 5px;
    width:20vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền */
    position: absolute;
    top: 17vh;
}

#Input_LyDoGiaHan
{
    padding: 5px;
    width:20vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền */
    position: absolute;
    top: 23vh;
}

#hop_le
{
    margin-top:9vh;
    margin-left:-15vw;
    position:absolute
}
#hop_le_label
{
    display: inline-block; /* Đảm bảo hiển thị */
    color: black; /* Đổi màu chữ về đen */
    font-size: 1.5vh; /* Điều chỉnh kích thước chữ */
    visibility: visible; /* Đảm bảo không bị ẩn */
    margin-top:9vh;
    margin-left:-11vw;
    position:absolute
}

#khong_hop_le
{
    margin-top:9vh;
    margin-left:5vw;
    position:absolute
}
#khong_hop_le_label
{
    display: inline-block; /* Đảm bảo hiển thị */
    color: black; /* Đổi màu chữ về đen */
    font-size: 1.5vh; /* Điều chỉnh kích thước chữ */
    visibility: visible; /* Đảm bảo không bị ẩn */
    margin-top:9vh;
    margin-left:12vw;
}

#Input_NgayDuThiCu
{
    padding: 5px;
    width:6vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền */
    position: absolute;
    margin-top: 20vh;
    margin-left:-13vw;
}

#NgayDuThiCu_label
{
    margin-top: 26vh;
    margin-left:-13vw;
    font-size:0.83vw;
    position:absolute;
}

#Input_NgayDuThiMoi
{
    padding: 5px;
    width:6vw;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid gray; /* Viền */
    position: absolute;
    margin-top: 20vh;
    margin-left:14vw;
}

#NgayDuThiMoi_label
{
    margin-top: 26vh;
    margin-left:14vw;
    font-size:0.83vw;
    position:absolute;
}
#btn_XacNhan
{
    position: absolute;
    margin-top:40vh;
    margin-left:-13vw;
    background-color: #6c5ce7;
    color: white;
}

#btn_InPhieu
{
    position: absolute;
    margin-top:40vh;
    margin-left:0vw;
    background-color: #6c5ce7;
    color: white;
}

#btn_GuiPhieuDenKeToan
{
    position: absolute;
    margin-top:40vh;
    margin-left:14vw;
    background-color: #6c5ce7;
    color: white;
}

.btn_Tra_cuu_SLGH
{
    cursor: pointer;
    padding: 1vh 1vw;
    border: none;
    background-color: #6c5ce7;
    color: white;
    border-radius: 5px;
    margin-top:20vh;
    position:absolute;
    margin-left:27vw;
}

.btn_Tra_cuu_PGH
{
    cursor: pointer;
    padding: 1vh 1vw;
    border: none;
    background-color: #6c5ce7;
    color: white;
    border-radius: 5px;
    margin-top:20vh;
    margin-left:37vw;
    position:absolute;
}