* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-style: bold;
}

body {
    background-color: white;
    background-image: url('bg.jpg');
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a0b0ff;
    padding: 20px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;  /* Thay position: absolute thành position: fixed */
    top: 0;
    left: 0;
    width: 100%;  /* Đảm bảo navbar chiếm hết chiều rộng */
    z-index: 1000; /* Đảm bảo navbar luôn nằm trên các phần tử khác */
}

.logo {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa ảnh logo và chữ */
    height: 30px; /* Điều chỉnh kích thước logo nếu cần */
}

.imageLogo-container img {
    width: 50px; /* Điều chỉnh kích thước logo nếu cần */
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;

    gap: 20px; /* Điều chỉnh khoảng cách giữa các mục */

}

.nav-links li {
    margin: 1 15px;
    line-height: 30px; /* Đảm bảo dòng này bằng với chiều cao của các mục */
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}

.logout {
    font-weight: bold;
    color: red;
}

.logout:hover {
    color: darkred;
}

.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    min-width: 250px;
    font-size: 16px;
}

.modal-content {
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Ẩn menu con mặc định */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #eef3ff;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Hiển thị menu con khi rê chuột */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Định dạng các mục trong menu con */
.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px 12px;
}

/* Hiệu ứng hover */
.dropdown-menu li a:hover {
    background-color: #eef3ff;
}