body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    position: absolute;
    top: 12%; /* Vị trí từ trên xuống bằng 10% chiều cao của viewport */
    left: 50%; /* Căn giữa phần tử theo chiều ngang */
    transform: translateX(-50%); /* Dịch chuyển phần tử sang trái một nửa chiều rộng của nó để căn giữa chính xác */
    padding: 0.8vw 1.5vw; /* Padding thay đổi theo tỷ lệ chiều rộng màn hình */
    /*background: #ecc94b	; 
    box-shadow: 0 2px 5px rgba(160, 176, 255, 0.3);*/
    border-radius: 10px; /* border-m */
    display: inline-block;
}


.form-group {
    padding: 10px;
    width: 500px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    align-items: center; /* Căn giữa label và input theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa label và input */
}

#inputForm {
    position: absolute;
    top: 37%;  /* Đặt vị trí xuống dưới để không bị che */
    left: 25%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;  /* Tạo khoảng cách giữa các thành phần */
}

.choose-group {
    padding: 10px;
    width: 240px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    align-items: center; /* Căn giữa label và input theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa label và input */
    flex-direction: column;
}

#chooseForm {
    position: absolute;
    top: 35%;  /* Đặt vị trí xuống dưới để không bị che */
    left: 73%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;  /* Tạo khoảng cách giữa các thành phần */
    padding: 10px;
    border-radius: 5px;
    
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    width: 250px; /* Đảm bảo label có chiều rộng cố định */
    text-align: left; /* Canh label sang bên phải */
}


input, select {
    flex: 1; /* Để input chiếm phần còn lại của .form-group */
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button-container {
    position: absolute;
    top: 85vh; /* Đặt vị trí từ trên xuống 20% chiều cao viewport */
    left: 40%; /* Căn giữa phần tử theo chiều ngang */
    display: flex;
    justify-content: center;
    gap: 100px; /* Tạo khoảng cách giữa các nút */
}

#submit-btn {
    
    padding: 8px 12px;
    background-color: #8860d0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #a0b0ff;
}


#cancel-btn {
    padding: 8px 40px;
    background-color: #8860d0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cancel-btn:hover {
    background-color: #a0b0ff;
}


