body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
h1 {
    position: absolute;
    top: 12%; /* Vị trí từ trên xuống bằng 10% chiều cao của viewport */
    left: 50%; /* Căn giữa phần tử theo chiều ngang */
    transform: translateX(-50%); /* Dịch chuyển phần tử sang trái một nửa chiều rộng của nó để căn giữa chính xác */
    padding: 0.8vw 1.5vw; /* Padding thay đổi theo tỷ lệ chiều rộng màn hình */
    /*background: #ecc94b	; 
    box-shadow: 0 2px 5px rgba(160, 176, 255, 0.3);*/
    border-radius: 10px; /* border-m */
    display: inline-block;
}

h2 {
    position: absolute;
    margin-top: 13%; /* Vị trí từ trên xuống bằng 10% chiều cao của viewport */
    left: 50%; /* Căn giữa phần tử theo chiều ngang */
    transform: translateX(-50%); /* Dịch chuyển phần tử sang trái một nửa chiều rộng của nó để căn giữa chính xác */
    padding: 0.8vw 1.5vw; /* Padding thay đổi theo tỷ lệ chiều rộng màn hình */
    /*background: #ecc94b	; 
    box-shadow: 0 2px 5px rgba(160, 176, 255, 0.3);*/
    font-size:3vh;
    font-weight: normal;
    border-radius: 10px; /* border-m */
    display: inline-block;
}

#search-box {
    width: 240px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 22vh; /* Đặt vị trí từ trên xuống 10% chiều cao viewport */
}

#date-box {
    width: 120px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 22vh; /* Đặt vị trí từ trên xuống 10% chiều cao viewport */
}

/* #search-btn {
    padding: 8px 12px;
    background-color: #F8BBD0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #ff6b81;
} */

#search-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #a0b0ff;

}

#search-btn:hover {
    background-color: #8860d0;
    ;
}

input[type="number"] {
    padding: 5px;
    margin-left: 10px;
}

table {
    position: absolute;
    width: 90%;
    top: 40vh; /* Đặt vị trí từ trên xuống 30% chiều cao viewport */
    left: 4%; /* Căn giữa phần tử theo chiều ngang */
    margin: 20px;
    border-collapse: collapse;
    border: 2px solid #a0b0ff;
}

th, td {
    border: 1px solid #00A2FF;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4fb;
}
tr:hover {
    background-color: #f1eaf9;
    transition: background-color 0.2s ease;
}

.btn_Tra_cuu_SLGH
{
    cursor: pointer;
    padding: 1vh 1vw;
    border: none;
    background-color: #8860d0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top:85vh;
    position:absolute;
    margin-left:5vw;  
}

.btn_Tra_cuu_SLGH:hover
{
    background-color: #a0b0ff;
}

.btn_Lap_Phieu_Gia_Han
{
    cursor: pointer;
    padding: 1vh 2vw;
    border: none;
    background-color: #8860d0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top:85vh;
    margin-left:20vw;
    position:absolute;
}

.btn_Lap_Phieu_Gia_Han:hover {
    background-color: #a0b0ff;
}